body{
    margin: 0%;
    padding: 0%;
}
.navBar{
    background-color: white;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: 0.5s;
}

.navBar img{
    padding: 14px 10px 15px 160px;
    width: 10%;
    height: auto;
}


.navBar .rightBar{
    color: #7b8b8e;
    position: absolute;
    left: 1000px;
    font: inherit;
 
}
.navBar .rightBar ul{
    display: flex;
}

.navBar .rightBar li{
    list-style: none;
    padding: 15px
}

.navBar .rightBar li:last-child{
    color: #5fcf80;
}





